.NavigationItems{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}
.Menu{

}
@media (max-width: 600px){
    .Menu.NavigationItems{
        display: none;
    }
    .NavigationItems{
        display: block;
    }
    .NavigationItems li{
        display: block;
    }
}
